<p style="color: green"><%= notice %></p>

<h1>Epoxy formulas</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this formula", post %>
    </p>
  <% end %>
</div>

<%= link_to "New formula", new_post_path %>
